/* General Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    color: white;
}
.whole{
    display: flex;
    flex-direction: column;
}

/* Blog Header */
.blog-header {
    text-align: center;
    padding: 40px 20px;
    background-color: white; /* Light Grey */
    margin: 80px 20px 50px 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.blog-header h1 {
    font-size: 36px;
    color: orange;
    margin-bottom: 10px;
}

.blog-header p {
    font-size: 18px;
    color: grey;
}

/* Blog Categories/Filters */
.blog-filters {
    margin: 20px auto;
    text-align: center;
}

.blog-filters h2 {
    font-size: 24px;
    color: orange;
    margin-bottom: 10px;
}

.blog-filters .categories button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.categories button a{
    text-decoration: none;
    color: white;
}

.blog-filters .categories button:hover {
    background-color: #e07b00; /* Darker Orange */
}
.c1{
    background-color: white;
    color: grey;
    padding: 20px;
    margin: 40px 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.c1 h2{
    font-size: 28px;
    color: orange;
    text-decoration: underline;
}
.c1 p{
    line-height: 25px;
}


/* Recent Blog Posts */
.recent-posts {
    margin: 30px auto;
}

.recent-posts h2 {
    font-size: 28px;
    color: orange;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 100px;
}

.recent-posts .post-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.post-card {
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.post-card h3 a{
    text-decoration: none;
    color: orange;
}

.post-card h3 a:hover {
    text-decoration: underline;
}

.post-card img {
    width: 50%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.post-card h3 {
    font-size: 20px;
    color: orange;
    margin-bottom: 10px;
}

.post-card p {
    font-size: 14px;
    color: grey;
    margin-bottom: 20px;
}

.post-card .read-more {
    color: white;
    text-decoration: none;
    background-color: orange;
    padding: 8px 12px;
    border-radius: 5px;
}

.post-card .read-more:hover {
    background-color: #e07b00;
}
