*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(image/16.png);
    background-size: cover;
    background-position: center
}
.wrapper .s1 img{
    margin-bottom: -10px;
}
.wrapper h1{
    margin-left: 10px;
    margin-bottom: 10px;
    color: white;
}
.wrapper h2{
    margin-left: 15px;
    margin-bottom: 10px;
    color: white;
    text-align: left;
}
.wrapper .in{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.in label{
    color: white;
    margin-bottom: 10px;
}
.in input{
    outline: none;
    margin-bottom: 5px;
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.s2 h2{
    text-align: center;
}
.s2 p {
    margin-top: 5px;
    margin-left: 15px;
}
.s2 p a{
    font-size: 14px;
    color: white;
    text-decoration: none;
}
.s2 button{
    margin-left: 15px;
    margin-top: 15px;
    border: none;
    background-color: orange;
    color: white;
    padding: 8px 10px;
    border-radius: 5px;cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.s2 button:hover{
    background-color: darkorange;
}
