/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke; /* Dark grey */
    color: grey;
    line-height: 1.6;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.t2 {
    margin-top: 100px;
}
.search-results-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Search Header */
.search-header {
    text-align: center;
    margin-bottom: 20px;
}

.search-header h1 {
    font-size: 28px;
    color: orange;
    margin-bottom: 10px;
}

.search-header .filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.filters select {
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: white;
    color: grey;
}

/* Search Results */
.search-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
}

.result-card {
    display: flex;
    gap: 15px;
    background-color: white;
    border-radius: 8px;
    padding: 15px;
}

.result-card img {
    width: 120px;
    height: 120px;
    border-radius: 8px;
}

.result-content h3 {
    font-size: 18px;
    color: orange;
    margin-bottom: 5px;
}
.result-card h3 a {
    color: orange;
}

.result-content p {
    color: grey;
    margin-bottom: 5px;
}

.result-content .tags span {
    background-color: orange;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    margin-right: 5px;
}

.save-btn {
    background-color: orange;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.save-btn:hover {
    background-color: #e07b00; /* Darker orange */
}


/* Related Search */
.related-search {
    text-align: center;
    margin-top: 30px;
}

.related-search h2 {
    color: orange;
    margin-bottom: 10px;
}

.related-search .suggestions button {
    background-color: orange;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.related-search .suggestions button:hover {
    background-color: darkorange;
    color: white;
}
