*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.t2 {
    margin-top: 70px;
}

.categories{
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 200px;
    background-color: white;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 5px;
}

h1{
    color: orange;
    font-size: 30px;
    margin: 20px 0 20px 60px;
}
.AA{
    margin-left: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.categories img {
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.categories .s2{
    padding: 10px;
}
.categories h2{
    color: orange;
    font-size: 20px;
    margin-bottom: 5px;
}

.categories h2:hover {
    text-decoration: underline;
    cursor: pointer;
}
.categories p{
    color: grey;
}
.categories button{
    border: none;
    padding: 8px 5px;
    font-size: 12px;
    background-color: orange;
    color: white;
    border-radius: 3px;
    margin-top: 8px;
    cursor: pointer;
}

.categories button:hover {
    background-color: darkorange;
}

@media (max-width: 1024px) {
    .category .AA {
        grid-template-columns: repeat(2, 1fr); /* Change to 2 columns on smaller screens */
    }
}

@media (max-width: 768px) {
    .category .AA {
        grid-template-columns: 1fr; /* Change to 1 column on even smaller screens */
    }
}